<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="//db.onlinewebfonts.com/c/8cdbb48678e4418f22a2f507c2b975bd?family=Blanka" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/ab100f102474a07070d5d4c913c82d37?family=LegacySansEF" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Song Starter <br>3000</a>
        </div>
    </nav>

    <hero>
        <div id="profile-logout" class="">
            {{#if loggedIn}}
            <a id="profile" class="is-size-4" href="/profile">Profile</a>
             <a id="logout" class="is-size-4 is-light">Logout</a>
            {{/if}}
        </div>
    </hero>
  
    <section>
        {{{body}}}
    </section>

    

    <footer class="footer">
        <div class="center content"> Thanks for visitng! </div>
    </footer>



    {{#if loggedIn}}
    <script src="/javascript/logout"></script> 
    {{else}} 
    <script src="/javascript/login"></script> 
    {{/if}}

    
</body>
</html>