<section>
        <div class="columns is centered is-mobile ml-4 mt-6">
            <div class="save-title column is-one-quarter">
                <h1 class="is-size-4">Progression Name</h1>
            </div>
            <div class="save-chords column is-one-quarter">
                <h2 class="is-size-4">Chord Progression</h2>
            </div>
    </div>
    <div class="columns is-mobile ml-4 mt-1">
            <div class="save-title column ml-4 is-one-quarter">
                <textarea class="textarea is-success" style="font-family: Share Tech Mono;" rows="2" id="name-edit">{{chord.progression_name}}</textarea>
            </div>
            <div class="save-chords column is-half">
                <textarea class="textarea is-success" style="font-family: Share Tech Mono;" rows="2" id="chord-edit">{{chord.chords}}</textarea>
            </div>
            <div class="save column is-one-quarter">
                <div>
                    <a id="save-btn" class="no-link">Save</a>
                </div>
            </div>

    </div>
</section>
<script src="/javascript/edit.js"></script>