<section class="mt-6">
  <div class="mx-6 mb-6">
    Randomly generate a chord progression with the options below
  </div>
  {{!-- drop down boxes to choose key for random chords --}}
    <div class="columns  is-mobile is-centered">
        <div class="column is-3">
            <div class="secition is-medium">
                <div class="mb-4">
                    Select a number of chords
                </div>
                <div class="select">
                <select>
                    <option></option>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    <option>Four</option>
                    <option>Five</option>
                    <option>Six</option>
                    <option>Seven</option>
                </select>
                </div>
            </div>
        </div>
        <div class="column is-2">
            <div>
                Choose a Key
            </div>
            <div class="select">
            <select>
                <option></option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
                <option>F</option>
                <option>G</option>
            </select>
            </div>
        </div>
        <div class="column is-4">
            <div>
                Choose key type
            </div>
            <div class="select">
            <select>
                <option></option>
                <option>Major</option>
                <option>Ionian</option>
                <option>Dorian</option>
                <option>Locrian</option>
                <option>LYdian</option>
                <option>Minor</option>
                <option>Mixolydian</option>
                <option>Phrygian</option>
            </select>
            </div>
        </div>
        
    </div>
    {{!-- space to display the randomly generated progression --}}
</section>