<section class="mt-6">
  <div class="mx-6 mb-6 has-text-success is-size-4">
    Randomly generate a chord progression with the options below
  </div>
  {{!-- drop down boxes to choose key for random chords --}}
  <div class="columns is-vcentered mx-6 is-centered">
    <div class="column is-3">
      <div class="secition is-medium">
        <div class="mb-4">
          Select a number of chords
        </div>
        <div class="select select-number">
          <select>
            <option></option>
            <option value=1>One</option>
            <option value=2>Two</option>
            <option value=3>Three</option>
            <option value=4>Four</option>
            <option value=5>Five</option>
            <option value=6>Six</option>
            <option value=7>Seven</option>
          </select>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div>
        Choose a Key
      </div>
      <div class="select select-key">
        <select>
          <option></option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
        </select>
      </div>
      <div class="select select-keysharp">
        <select>
          <option value=""></option>
          <option value="#">#</option>
          <option value="b" class="flat">b</option>
        </select>
      </div>
    </div>
    <div class="column is-4">
      <div>
        Choose pitch class
      </div>
      <div class="select select-class">
        <select>
          <option></option>
          <option value="major">Major</option>
          <option value="minor">Minor</option>
        </select>
      </div>
    </div>

  </div>
  {{!-- button to generate chords --}}
  <div class="is-flex is-justify-content-center">
    <a id="random-btn" href="#chord-columns"class="is-size-5 button is-dark is-hovered is-focused">Generate Music</a>
  </div>
  {{!-- display randomly generated chords loads as hidden until --}}
  <div id="display" class="hidden mx-6">
    <div class="box mx-6">
      <div id='chord-columns' class="columns is-centered">
        {{!-- chords with be dynamically generated here --}}
      </div>
    </div>
    {{!-- option to save --}}
    <div id="save-btn" class="is-flex is-justify-content-center mt-6">
      <a class="is-size-5 save-btn button is-dark is-hovered is-focused mt-6">Save progression</a>
    </div>
  </div>
  {{!-- popup to save title --}}
  <div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field">
  <label class="label has-text-success">Give your chord progression a name</label>
  <div class="control">
    <input id='progression-title' class="input" type="text" placeholder="cool chords">
  </div>
</div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

</section>
{{!-- import tonaljs --}}
<script src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js"></script>

<script type="module" src="/javascript/progressions.js"></script>
