<section class="signup">
    <div class="columns is-centered">
        <div class="column is-6">
            <div id="error-div" class="has-text-success mt-6"></div>
            <form class="box login-form">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input id="username-signup" class="input" type="text" placeholder="">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input id="email-signup" class="input" type="email" placeholder="e.g. example@example.com">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input id="password-signup" class="input" type="password" placeholder="********">
                    </div>
                </div>

                <button class="button is-dark">Signup</button>
            </form>
        </div>
    </div>
</section>
<script src="../javascript/signup.js"></script>