*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Blanka'; */
    font-family: 'Share Tech Mono', monospace;
}

.alt-font {
    font-family: "IM Fell French Canon";
    font-size: 22px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.displayed {
    display: block;
}

.flat {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
}
.navbar {
    background-color: black;
    color: white;
    font-size: 45px;
    text-align: center;
}
/* 
.navbar a {
    text-decoration: none;
    color: #27ff00;
    text-shadow: 3px 2px #02772f;
    font-weight: 600;
} */
.navbar a {
  text-decoration: none;
  color: #72ff59;
  text-shadow: -3px 2px #02772f;
  font-weight: 700;
  animation: mymove 2s infinite;
}
@keyframes mymove {
  50% {text-shadow: -1px 1px #5afc3d;}
}

a.navbar-item:hover {
  text-decoration: none;
  color: #27ff00;
  
}

.no-link {
    color: black;
    text-decoration: none; 
    margin: 10px;
}

.no-link:hover {
    color: #48c78e;
}


.column > * {
    padding-bottom: 15px;
}

.box {
    margin-top: 10%;
    min-height: 30vh;
    margin-bottom: 15px;
}

.center {
    text-align: center;
}


.modal-background {
    background-color: rgba(10,10,10,.95);
}

.mobile-view {
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar {
        margin-left: 0px;
    }
}
 @media screen and (max-width: 768px) {             
     .hidden-mobile {
         display: none;
     }
     .mobile-view {
         display: block;
     }
 }