*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Blanka'; */
    font-family: 'Share Tech Mono', monospace;
}

.alt-font {
    font-family: "IM Fell French Canon";
    font-size: 22px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.displayed {
    display: block;
}

.flat {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
}
.navbar {
    background-color: black;
    color: white;
    font-size: 45px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: white;
}

a.navbar-item:hover {
    color: #48c78e;
}

#favorites, #progressions, #logout {
    color: black;
    text-decoration: none; 
    margin: 10px;
}

#favorites:hover, #progressions:hover, #logout:hover {
    color: #48c78e;
}


.column > * {
    padding-bottom: 15px;
}

.box {
    margin-top: 10%;
    min-height: 30vh;
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.modal-background {
    background-color: rgba(10,10,10,.95);
}


@media screen and (max-width: 500px) {
    .navbar {
        margin-left: 0px;
    }
}
